{
  "parser": "babel-eslint",
  "extends": [
    "@xinghunm/eslint-config"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
